body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A; 
    color: #DEDEDE; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #2E2E2E; 
    color: #E0E0E0;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0F0F0F; 
    height: 48px; 
    box-sizing: border-box;
    flex-shrink: 0; 
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px; 
}

header h1 {
    margin: 0; 
    font-size: 1.4em; 
    color: #FFFFFF;
}

header p { 
    margin: 0;
    font-size: 0.75em; 
    color: #9E9E9E;
}

#current-project-display {
    font-size: 0.85em;
    font-weight: 500;
    color: #B0B0B0;
    padding: 3px 6px;
    background-color: #202020;
    border-radius: 3px;
}

#app-main-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden; 
}

#center-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #242424; 
    overflow: hidden;
}

#center-content {
    flex-grow: 1;
    position: relative; 
    overflow: hidden; 
    /* background-color: #1E1E1E; */ 
}