/* Console Output (Bottom Panel Tab) */
#console-content {
     /* .tab-content.active styling applies */
}

#script-output-label {
    font-weight: normal; 
    font-size: 0.8em; 
    margin-bottom: 4px;
    color: #A0A0A0; 
    flex-shrink: 0;
}

#script-output {
    flex-grow: 1;
    background-color: #1A1A1A; 
    border: 1px solid #0F0F0F; 
    padding: 6px; 
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 0.85em;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 3px; 
    color: #C0C0C0; 
    overflow-y: auto;
}

#script-output.error {
    color: #EF5350; 
}